/* reset */
$min-width: 320px; 
$max-width: 1680px; 
$base-bg:   #060606;
$base-font-size: 14px; 
$base-line-height: 18px; 
$base-font-family: 'Open Sans', sans-serif; 
$custom-font-family: 'Comfortaa', cursive;
$link-color: #100da9;
$default-transition:all 0.2s linear;

//text, titles
$text-color: #000000;
$title-color: #000;
$title-font-family: $custom-font-family;